@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        function checkform() {
            if ($("#username").val() == '')
            {
                alert('Please enter an username.');
                return false;
            }
            else if ($("#password").val() == '')
            {
                alert('Please enter a password.');
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <div class="centralDiv">
        <h1 class="mb-3">Login</h1>
        <br /> <br />
               <form id="loginForm" action="/Login/LoginSubmit" method="post" onSubmit="return checkform()">
                   <label class="label label-default">
                       Username:
                       <input id="username" type="text" class="form-control" name="username" placeholder="Username">
                   </label>
                   <br>
                   <label class="label label-default">
                       Password:
                       <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                   </label>
                   <br>
                   <input type="submit" class="btn btn-outline-dark" value="Login">
               </form>

    </div>
    <br />

</body>
</html>

