<div class="centralDiv">
  <br>

  <form #f = "ngForm">
    <input type="text" class="form-control" name="name" placeholder="Name" [(ngModel)] = "addedUser.name"><br>
    <input type="text" class="form-control" name="username" placeholder="Username" [(ngModel)] = "addedUser.username"><br>
    <input type="text" class="form-control" name="password" placeholder="Password" [(ngModel)] = "addedUser.password"><br>
    <input type="text" class="form-control" name="age" placeholder="Age" [(ngModel)] = "addedUser.age"><br>
    <input type="text" class="form-control" name="role" placeholder="Role" [(ngModel)] = "addedUser.role"><br>
    <input type="text" class="form-control" name="email" placeholder="Email" [(ngModel)] = "addedUser.email"><br>
    <input type="text" class="form-control" name="webpage" placeholder="Webpage" [(ngModel)] = "addedUser.webpage"><br>
    <br>
    <input type="button" class="btn btn-primary" (click)="addUser(f)" value="Add User">
  </form>

  <br><br><br>
  <button type="button" class="btn btn-secondary btn-lg" style="width: 30%" routerLink="/home-page" routerLinkActive="active">Back to homepage</button>
</div>
