<div class="centralDiv">

  <button type="button" class="btn btn-secondary btn-lg" style="width: 30%" routerLink="/get-all-users-page" routerLinkActive="active">Display users</button>
  <br>
  <button type="button" class="btn btn-secondary btn-lg" style="width: 30%" routerLink="/delete-user-page" routerLinkActive="active">Delete user</button>
  <br>
  <button type="button" class="btn btn-secondary btn-lg" style="width: 30%" routerLink="/add-user-page" routerLinkActive="active">Add user</button>
  <br>
  <button type="button" class="btn btn-secondary btn-lg" style="width: 30%" routerLink="/update-user-page" routerLinkActive="active">Update user</button>
  <br>
  <button type="button" class="btn btn-secondary btn-lg" style="width: 30%" routerLink="/filter-users-page" routerLinkActive="active">Filter users</button>
  <br>
</div>
